<div class="row main-form pt-3">
  <div class="form-group col-12">
    <h2 class="text-center pb-2">Enter your information</h2>
    <label for="name">Enter your name:</label>
    <input id="name" type="text" class="form-control main-input" placeholder="Your name"/>
    <label for="surname">Enter your surname:</label>
    <input id="surname" type="text" class="form-control main-input" placeholder="Your surname"/>
    <label for="email">Enter your email:</label>
    <input id="email" type="text" class="form-control main-input" placeholder="Your email"/>
    <label form="phone">Enter your phone:</label>
    <input id="phone" type="text" class="form-control main-input" placeholder="Your phone"/>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
